/*
Reset  
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
Common  
*/
[v-cloak] {
    display: none;
  }  
.todolist{
    list-style: none;
    color: #F2ED6F;
}
.todolist li{
    border: .125rem solid #0B4F6C;
    border-radius: 1.25rem;
    margin: .1875rem;
    background-color: #01BAEF;
    padding: .625rem;
    cursor: pointer;
}
.check{
    text-decoration: line-through;
}
/*
Main  
*/
body{
    background-color: #FBFBFF;
    font-family: 'Roboto', sans-serif;
}
header h1{
    text-align: center;
    margin-top: 3.125rem;
    color:  #5C80BC;
}
.container{
    max-width: 950px;
    margin: .625rem auto;
    background-color: #E7E247;
    border: .125rem solid #5C80BC;
    border-radius: 1.25rem;
    padding: 1.25rem;
}
/* 
List  
*/
.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_item i{
    cursor: pointer;
} 
.alert_no_list{
    text-align: center;
    font-weight: bold;
    color: yellow;
}
.add_list_item{
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}
.add_list_item input{
    padding: .3125rem;
}
.add_list_item button{
    padding: .3125rem;
    background-color: #5C80BC;
    color: #FBFBFF;
}