/*
Reset  
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
Common  
*/
[v-cloak] {
    display: none;
  }  
.todolist{
    list-style: none;
    color: green;
}
.todolist li{
    border: 2px solid blue;
    margin: .1875rem;
    background-color: white;
    padding: .625rem;
    cursor: pointer;
}
.check{
    text-decoration: line-through;
}
/*
Main  
*/
header h1{
    text-align: center;
    margin-top: 3.125rem;
}
.container{
    max-width: 950px;
    margin: .625rem auto;
    background-color: chocolate;
    border: 1px solid black;
    padding: 1.25rem;
}
/* 
List  
*/
.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_item i{
    cursor: pointer;
} 
.alert_no_list{
    text-align: center;
    font-weight: bold;
    color: yellow;
}